<!DOCTYPE html>
<html lang="en">

<head>
  <title>Portfolio</title>
  <!-- BM Chaneg the path to the css files -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css" />
  <link href="../../stylesheets/navbar.css" rel="stylesheet">
  <link href="../../stylesheets/style.css" rel="stylesheet">

</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
    <section class="container">
      <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search...">
        <button id="searchButton" class="btn btn-secondary"> Search</button>
        <button type="button" id="resetBtn" class="btn btn-secondary">Reset</button>
      </div>
      <table class="table" id="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <% if (auth){ %>
              <th scope="col"></th>
              <% } %>
          </tr>
        </thead>
        <tbody>
          <% memes.forEach(function(meme) { %>                          
            <tr>
              <td><%= meme.name %></td>
              
              <td><img src="<%= meme.url %>" alt="Meme Image" height="20%" width="20%"></td>
              
              <td>
                <% if (auth){ %>
                  <input type="button" class="btn" action="/meme" onclick="openMemeDetails(<%= meme.id %>)" value="Details" />
                  <% } %>


                <!-- <input type="button" class="btn" 
                onclick="console.log('hi');openMeme(2)"/> -->
              </td>
            </tr>          
        <% }) %>
        </tbody>
      </table>
    </section>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>